.Header{
   position: sticky;
   top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding:0px 10px;
    min-height: 100px;
    background-color: black;

    color: white;
}
@media (max-width:750px)
{
    .Header h1{
        font-size: 24px;
    }
}
