.container{
    /* padding: 50px 30px; */
    text-align: center;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(182, 190, 105);
    min-height: 59vh;
}

.container .heading {
    margin: 0 auto;
    /* color: rgb(6, 78, 51); */
    color: black;
    max-width: 550px;
    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.heading span{
    background-clip: text;
    background-image: linear-gradient(to right, #239ce2, #052d53);
    color: transparent;
}

.right img{
    width: 400px;
}

@media (max-width:800px)
{
    .container .heading{
        font-size: 1.5rem;
    }

    .heading{
        width: 70%;
    }

    .right{
        width: 30%;
    }
    .right img{
        width:100px;
    }
}